@model WebApplication1.Models.User

@{
    ViewBag.Title = "Home Page";
}


<script src="~/Scripts/angular.js"></script>

<script type="module" src="~/Scripts/News/main.js">
</script>
<script type="module" src="~/Scripts/News/Components/MainView/MainView.Controller.js">
</script>
<script type="module" src="~/Scripts/News/Components/MainView/MainView.js">
</script>
<script type="module" src="~/Scripts/News/Services/NewsService.js">
</script>


<div class="container user-dashboard-main">
    <div class="row user-dashboard-wrapper">
        <div class="col-md-9">
            <div class="row dashboard-user-name">
                @Model.UserName
            </div>
        </div>
        <div class="col-md-3">
            <div class="currency-table">
                <div class="currency-head">
                    Actual currency
                </div>
                <div class="form-group">
                    <label>dollar: </label>
                    <div class="currency-cell" id="currency-USD"></div>
                </div>
                <div class="form-group">
                    <label>GBP: </label>
                    <div class="currency-cell" id="currency-GBP"></div>
                </div>
                <div class="form-group">
                    <label>Fr: </label>
                    <div class="currency-cell" id="currency-CHF"></div>
                </div>
                <div class="form-group">
                    <label>Euro: </label>
                    <div class="currency-cell" id="currency-EUR"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div ng-app="newsApp">
                <main-view></main-view>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/Custom/Currency/service.js"></script>
<script src="~/Scripts/Custom/Currency/main.js"></script>