@model WebApplication1.Models.User

@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/angular.js"></script>
<script type="module" src="~/Scripts/News/main.js">
</script>
<script type="module" src="~/Scripts/News/Components/MainView/MainView.Controller.js">
</script>
<script type="module" src="~/Scripts/News/Components/MainView/MainView.js">
</script>
<script type="module" src="~/Scripts/News/Services/NewsService.js">
</script>


<div class="container user-dashboard-main">
    <div class="row user-dashboard-wrapper">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <div>
                <div class="dashboard-user-name">@Model.UserName</div>
                <a href="~/Dashboard/Edit">
                    <span class="icon-edit user-edit-icon"></span>
                </a>
            </div>
            <div>
                <h4 class="user-wallet-total">Wallet total:</h4>
                <h3 class="user-wallet-total">@Model.WalletTotal $</h3>
            </div>
        </div>

        <div class="col-md-3">
            <div class="currency-table">
                <div class="currency-head">
                    Actual currency
                </div>
                <div class="form-group">
                    <label>USD: </label>
                    <div class="currency-cell" id="currency-USD"></div>
                </div>
                <div class="form-group">
                    <label>GBP: </label>
                    <div class="currency-cell" id="currency-GBP"></div>
                </div>
                <div class="form-group">
                    <label>CHF: </label>
                    <div class="currency-cell" id="currency-CHF"></div>
                </div>
                <div class="form-group">
                    <label>EUR: </label>
                    <div class="currency-cell" id="currency-EUR"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div ng-app="newsApp">
            <main-view></main-view>
        </div>
    </div>
</div>


<script src="~/Scripts/Custom/Currency/service.js"></script>
<script src="~/Scripts/Custom/Currency/main.js"></script>